@mixin _full {
  width: 100%;
  height: 100%;
}

@mixin _no-around {
  margin: 0;
  padding: 0;
}

html,
body {
  @include _full;
  @include _no-around;
}

.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.full {
  @include _full;
}

$size-spaces: (4, 8, 12, 16, 20, 24, 28, 32, 48, 64, 75, 100, 128, 150, 170, 200, 256, 512);
.box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
.box {
  @each $e in $size-spaces {
    &-#{$e} {
      $d: #{$e}+ "px";
      width: #{$d};
      height: #{$d};
    }
  }
}

@each $e in $size-spaces {
  .w-#{$e} {
    width: #{$e}px;
  }
}

$i: 5;
@while $i < 100 {
  .w-#{$i} {
    $k: #{$i} + "%";
    width: #{$k};
  }
  $i: $i + 5;
}


$i: 0;
@while $i < 1024 {
  $d: #{$i}+ "px";
  .x-position-#{$i} {
      position: absolute;
      left: #{$d};
    }
    .y-position-#{$i} {
        position: absolute;
        top: #{$d};
    }
    $i: $i + 30;
}

$i: 0;
@while $i <= 1 {
    $d: $i * 100;
  .opacity-#{$d} {
      opacity: #{$i};
  }
  $i: $i + 0.1;
}

