@import './_switch-form';

.switch-theme-control{
  color: var(--color);
  font-size: 0.65rem;
}

.switch-theme-control::after{
  content: 'Dark';
  position:absolute;
  top: 0;
  right: -2.3em;
}
.switch-theme-control::before{
  content: 'Light';
  position:absolute;
  top: 0;
  left: -1.7rem;
}