.switch-form {
  & *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}

.switch-form .area{
  width: 100%;
  height: 100%;  
  background: #212221;
  background: linear-gradient(135deg, var(--object-border-1), var(--object-border-2));
  border-radius: 50px;
  position: relative;
}
.switch-form .area input{
  width: 100%;
  height: 100%;
  cursor: pointer;
  appearance: none;
}

// Internal area-background
.switch-form .area input:before{
  top: 50%;
  left: 50%;
  position: absolute;
  content: '';
  transform: translate(-50%, -50%);
  width: 92%;
  height: 87%;
  background: var(--object-bg-1);
  border-radius: 50px;
  //border: 0.01px outset var(--object-border-3);
}

// Button switch
.switch-form .area input:after{
  top: 50%;
  position: absolute;
  content: '';
  transform: translate(6%, -50%);
  width: 50%;
  height: 90%;
  opacity: 0.8;
  border-radius: 50px;
  border: 0.2px inset var(--object-bg-2);
  transition: all 0.4s;
  background-color: var(--pictonblue);
  // background: linear-gradient(225deg, var(--object-fg-2), var(--object-fg-1));
  border: 0.5px outset var(--object-border-3);
}

// Moving button switch 
.switch-form .area input:checked:after{
  transform: translate(93%, -50%);
  opacity: 1;
}
.switch-form .area input:checked:before{
  background: var(--object-bg-2);
}